<p>contact works!</p>
<p>contact works!</p>
<div class="content">
   <p>

    Nikhil Upreti or Nikhil Uprety (Nepali: निखिल उप्रेती) (born Dinesh Upreti, 15 May 1974) is a
     Nepalese film actor, film director, producer and martial artist. One of the most popular 
     \and successful actors in history of Nepali Cinema, he is known for his action drama movies
      and social drama movies.[1] He is also known for performing the stunts of his movies on his
       own and is the most critically acclaimed action movie star of Nepalese Cinema.[2][3]

    Upreti made his debut with action thriller Pinjada, which was released in 2000, in which he
     jumped from the seven-story building of Kantipur publication in Kathmandu, Nepal, without
      any protection and body double.[4] Since then he has starred in some of the highest-grossing
       movie in Nepalese Cinema History like Shiva Shakti, Agnipath, Dhadkan, Papi Manche and its
        sequel Papi Manchhe 2, Abhimanyu, Hami Tin Bhai, Nikhil Dai, Savdhan and Dag.[5][6] His
         movie Papi Manchhe and Hami Tin Bhai have also held record of being the Highest Grossing
          Movie in Nepali Cinema History, the later also won him the National Film Award for Best Actor.
           After a 5–6 year absence from Nepali film,[7] he made a comeback to Nepalese Film Industry
            with 'Bhairav' in 2015 which went on to become the one of the Highest Grossing Nepali \
            films of the year. He was also awarded the Rastriya Nagarik Swarna Samman in 2006.[5][6]\
        
    
    Upreti is an activist and humanitarian, and has participated and spoken out for 
    various social causes as well, He is married twice, first with Kopila Upreti and
     second time with popular Nepali film actress Sanchita Luitel.


   </p>



    </div>